@model Shop.Models.Kindergartens.KindergartenDetailsViewModel;

<div>
    <h4>Kindergarten</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Kindergarten.Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.Id)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.GroupName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.GroupName)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.ChildrenCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.ChildrenCount)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.KindergartenName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.KindergartenName)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.Teacher" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.Teacher)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.CreationDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.CreationDate)
        </div>

        <div class="form-group row">
            <label asp-for="Kindergarten.LastUpdateDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Kindergarten.LastUpdateDate)
        </div>

        <div>
            @foreach (var image in Model.Images)
            {
                var m = new Shop.Models.DbFileViewModel(image);
                <partial name="_Image" model="m" />
            }
        </div>
    </dl>
</div>