@model Shop.Models.Spaceships.SpaceshipDeleteViewModel;

<h1>Delete</h1>

<div>
    <h4>Spaceships</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.Id)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.Name" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.Name)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.Typename" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.Typename)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.SpaceshipModel" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.SpaceshipModel)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.BuildDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.BuildDate)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.Crew" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.Crew)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.EnginePower" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.EnginePower)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.CreatedAt)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.LastUpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Ship.LastUpdatedAt)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            @foreach (var images in Model.Images)
            {
                <partial name="_Images" model="images" />
            }
        </div>
    </dl>

    <form asp-action="Delete" asp-controller="Spaceship">
        <input type="hidden" asp-for="Ship.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="Spaceship" class="btn btn-success">Back</a>
    </form>
</div>