@model Shop.Models.Spaceships.SpaceshipDetailViewModel;

<div>
    <h4>Spaceships</h4>
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Ship.Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.Id)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.Name" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.Name)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.Typename" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.Typename)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.BuildDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.BuildDate)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.Crew" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.Crew)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.EnginePower" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.EnginePower)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.CreatedAt)
        </div>
        <div class="form-group row">
            <label asp-for="Ship.LastUpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Ship.LastUpdatedAt)
        </div>
    </dl>
</div>