@model IEnumerable<Shop.Models.Spaceships.SpaceshipIndexViewModel>;
@{
    int rowNumber = 1;
}

<div class="bg-secondary rounded h-100 p-4">
<h6 class="mb-4">Spaceships</h6>

<div>
    <a asp-action="Create" asp-controller="Spaceship" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Built date</th>
                <th scope="col">Crew</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spaceships in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@spaceships.Ship.Name</td>
                    <td>@spaceships.Ship.Typename</td>
                    <td>@spaceships.Ship.BuildDate</td>
                    <td>@spaceships.Ship.Crew</td>
                    <td>
                        <a asp-action="Details" asp-controller="Spaceship" asp-route-id="@spaceships.Ship.Id" class="btn btn-outline-info">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                        <a asp-action="Update" asp-controller="Spaceship" asp-route-id="@spaceships.Ship.Id" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="Spaceship" asp-route-guid="@spaceships.Ship.Id" class="btn btn-outline-danger">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>

</div>