@model Shop.Models.RealEstate.RealEstateDetailsViewModel;

<div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">@ViewData["Title"]</h6>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Estate.Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.Id)
        </div>
        <div class="form-group row">
            <label asp-for="Estate.Size" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.Size)
        </div>
        <div class="form-group row">
            <label asp-for="Estate.RoomNumber" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.RoomNumber)
        </div>
        <div class="form-group row">
            <label asp-for="Estate.BuildingType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.BuildingType)
        </div>
        <div class="form-group row">
            <label asp-for="Estate.ModifiedTime" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.ModifiedTime)
        </div>
        <div class="form-group row">
            <label asp-for="Estate.CreationTime" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(m => m.Estate.CreationTime)
        </div>
    </dl>
</div>

@if (Model.Files.Any())
{
    <div class="bg-secondary rounded h-100 p-4 mt-4">
        <h6 class="mb-4">Images</h6>

        @foreach (var image in Model.Files)
        {
            var m = new Shop.Models.RealEstate.DbFileViewModel(image);
            <div class="offset-2">
                <partial name="_Image" model="m" />
            </div>
        }
    </div>
}